body {
}

table {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    position: fixed;
    background-color: white;
    height: 75px;
    width: 1140px;
    z-index: 10;
}

footer {
    position: fixed;
    background-color: white;
    height: 200px;
    width: 1140px;
    z-index: 10;
    bottom: 0;
}

table.area_boardgame {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100%;
}

table.area_hand {
    width: 0%;
    margin: 0 auto 0 auto;
}

td {
    position: relative;
    overflow: visible;
}

td.hovered {
    background: #ffff00;
}

.modal-dialog {
    z-index: 10;
}

td img{
}

img.bgcard {
    -ms-transform: rotate(90deg);       /* IE 9 */
    -webkit-transform: rotate(90deg);   /* Safari */
    transform: rotate(90deg);
    height: 100px;
    width: 90px;
}

img.token {
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 20%;
    height: 50px;
    width: 50px;
    visibility: hidden;
}