body {
}

table {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table.area_boardgame {
    width: 100%;
}

table.area_hand {
    width: 0%;
    margin: 0 auto 0 auto;
}

td {
    position: relative;
}

td.hovered {
    background: #aaa;
}


td img{
}

img.bgcard {
    -ms-transform: rotate(90deg);       /* IE 9 */
    -webkit-transform: rotate(90deg);   /* Safari */
    transform: rotate(90deg);
    height: 100px;
    width: 90px;
}

img.token {
    position: absolute;
    z-index: 1000;
    top: 25%;
    left: 20%;
    height: 50px;
    width: 50px;
    visibility: hidden;
}